#map {
	width: 100%;
	height: 100vh;
}

.leaflet-control-zoom {
	user-select: none;
}

.leaflet-tile-pane {
	width: 1024px;
	height: 1024px;
}

.leaflet-top {
	top: 50vh !important;
}

.leaflet-control-attribution,
.leaflet-left {
	display: none;
}
